<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- BODY BASE LINK -->

    <joint name="body_base_joint" type="fixed">
        <parent link="chassis"/>
        <child link="body_base"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="body_base">
        <visual>
            <origin xyz="0 0 0.04"/>
            <geometry>
                <cylinder radius="0.2286" length="0.1524"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0.060225"/>
            <geometry>
                <cylinder radius="0.2286" length="0.1524"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.1524" radius="0.2286">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>
    <gazebo reference="body_base">
        <material>Gazebo/Black</material>
    </gazebo> 

    <!-- BODY LINK -->

    <joint name="body_joint" type="fixed">
        <parent link="chassis"/>
        <child link="body"/>
        <origin xyz="-0.1 0 0.1"/>
    </joint>

    <link name="body">
        <visual>
            <origin xyz="0.25 0 0.42"/>
            <geometry>
                <cylinder radius="0.1524" length="0.7493"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.25 0 0.42"/>
            <geometry>
                <cylinder radius="0.1524" length="0.7493"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.35" length="0.7493" radius="0.1524">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>
    <gazebo reference="chassis">
        <material>Gazebo/White</material>
    </gazebo>
</robot>