<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <table class="table">
        <thead class="bg-primary">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for cam in cams %}
            <tr class="table-active">
                <td><a href="/CamConfig/{{cam[0].text}}">{{cam[1].text}}</a></td>
                <td>{{cam[2].text}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/"><input type="button" value="Cancel"></a>
</body>

</html>