<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

</head>

<body>
    <h1>Patrol</h1>
    <form method="post" action="/patrolInsert">

        <div class="form-group">
            <label for="pat_name">Name</label>
            <input type="text" class="form-control" name="pat_name" id="pat_name" value="">
        </div>
        <div class="form-group">
            <label for="pat_freq">Frequency in minutes</label>
            <input type="text" class="form-control" name="pat_freq" id="pat_freq" value="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>